#pills-home {
  padding-top: 100px;
}

#pills-profile {
  padding-top: 100px;
}

.tabelas {
  width: 100%;
}

.codigo-nome {
  float: left;
}

.grande-broto {
  float: right;
}

.descricao {
  clear: both;
}

.linhas {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #777;
  margin: 1em 0;
  padding: 0;
}
